// src/styles/components/_classroom.scss

.classroom {
    padding: 20px;
    background-color: $background-color; // Use your defined background color
  
    h1 {
      margin-bottom: 20px;
    }
  
    p {
      margin-bottom: 10px;
    }
  }
  