@import '../_variables'; // Ensure to import your variables

.welcome-section {
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
  
    h1 {
      font-size: 24px;
      color: $text-primary; // Use your defined text color
    }
  
    p {
      font-size: 16px;
      color: darken($text-primary, 20%); // Slightly darker text for contrast
    }
  }

  .progress-overview {
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
  }

  .upcoming-events {
    margin-bottom: 1.2rem;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
  }