// _variables.scss

// Color Variables
$primary: #3DDC97; // Teal
$secondary: #2F3437; // Dark gray
$text-primary: #000000; // Black

// Font Variables
$font-family: 'Courier, monospace'; // Font family